<div  fxLayout="row" fxLayoutAlign="center center" fxlayoutGap="5px" class="contact container my-32 mx-32">
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="150px">
    <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="30px">
      <div>
        <h2 class="contact__title py-4 px-12">Contact Us</h2>
      </div>
      <div>
        <h1 class="contact__title"> Talk With US</h1>
      </div>
      <div>
        <p class="contact__description">welcome to reboust features of the swikss ski and its branding new<br>
          collection of the clothes.welcome to reboust features of<br>
          the swikss ski and its branding new collection of the clothes</p>
      </div>
      <div>
        <h2 class="contact__title">Contact Info:</h2 >
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <mat-icon class="contact__icon">room</mat-icon>
        <p class="contact__data my-8 mx-12">ft-street 0089</p>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <mat-icon class="contact__icon">phone</mat-icon>
        <p class="contact__data my-8 mx-12">+456 0093847543</p>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <mat-icon class="contact__icon"> mail_outline</mat-icon>
        <p class="contact__data my-8 mx-12">Swissski@yahoo.com</p>
      </div>
    </div>
    <div  fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="form px-32 py-32">
      <div class="form__field">
        <div class="form__text">
          <p>Your name</p>
          <form>
            <mat-form-field fxFlex="100" class="" appearance="outline">
              <input type="text" matInput placeholder="Input your name here">
            </mat-form-field>
          </form>
        </div>
        <div>
          <p>Email Address</p>
          <form>
            <mat-form-field fxFlex="100" appearance="outline">
              <input type="email" matInput placeholder="Input your email here">
            </mat-form-field>
          </form>
        </div>
        <div>
          <p>Message</p>
          <form>
            <mat-form-field fxFlex="100" appearance="outline">
              <textarea matInput placeholder="Write your message here" rows="5"></textarea>
            </mat-form-field>
          </form>
        </div>
        <div>
          <button mat-raised-button class="form__btn py-16 px-12 my-20">Send Messages</button>
        </div>
      </div>
    </div>
  </div>
</div>
