@import "assets/stylesheet/mixin";
@import "assets/stylesheet/_variables.scss";
@import "assets/stylesheet/_mixin.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  margin: 0;
  padding: 0;
}


