<div fxLayout="column" class="product container">
  <div fxLayout="row" fxFlex="100%" fxLayoutAlign="start center" fxLayoutGap="150px">
    <div>
      <p class="product__header">Featured Product</p>
      <p class="product__text">CSS is the language we use to style an HTML document.CSS describes how HTML elements.</p>
    </div>
    <div fxLayoutAlign="center">
      <p class="product__header">All Products</p>
      <mat-icon class="product__slider">keyboard_arrow_right</mat-icon>
    </div>
  </div>
  <div class="product__card" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start center"
       fxLayoutGap="10px">
    <mat-card class="product__card--item">
      <img src="../assets/image/m3.jpg">
      <div>
        <button mat-raised-button class="product__btn">View Products</button>
      </div>
    </mat-card>

    <mat-card class="product__card--item">
      <img src="../assets/image/m2.jpg">
      <div>
        <p class="card__title">Ski-Swiss T-shirts</p>
        <p>Lorem ipsum dolor sit amet</p>
      </div>
    </mat-card>
    <mat-card class="product__card--item">
      <img src="../assets/image/m3.jpg">
      <div>
        <p class="card__title">Ski-Swiss T-shirts</p>
        <p>Lorem ipsum dolor sit amet
        </p>
      </div>
    </mat-card>
    <mat-card class="product__card--item">
      <img src="../assets/image/m4.jpg">
      <div>
        <p class="card__title">Ski-Swiss T-shirts</p>
        <p>Lorem ipsum dolor sit amet
        </p>
      </div>
    </mat-card>
    <mat-card class="product__card--item">
      <img src="../assets/image/m1.jpg">
      <div>
        <p class="card__title">Ski-Swiss T-shirts</p>
        <p>Lorem ipsum dolor sit amet
        </p>
      </div>
    </mat-card>
    <mat-card class="product__card--item">
      <img src="../assets/image/m3.jpg">
      <div>
        <p class="card__title">Ski-Swiss T-shirts</p>
        <p>Lorem ipsum dolor sit amet
        </p>
      </div>
    </mat-card>
    <mat-card class="product__card--item">
      <img src="../assets/image/m2.jpg">
      <div>
        <p class="card__title">Ski-Swiss T-shirts</p>
        <p>Lorem ipsum dolor sit amet
        </p>
      </div>
    </mat-card>
    <mat-card class="product__card--item">
      <img src="../assets/image/m4.jpg">
      <div>
        <p class="card__title">Ski-Swiss T-shirts</p>
        <p>Lorem ipsum dolor sit amet
        </p>
      </div>
    </mat-card>
  </div>
</div>

