@use '~@angular/material' as mat;
@import 'variables';
@include mat.core();

$app-primary: mat.define-palette(mat.$light-blue-palette,700);
$app-accent: mat.define-palette(mat.$gray-palette,500);
$app-theme: mat.define-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
  )
));
@include mat.all-component-themes($app-theme);
