<div class="card_A" fxLayout="row" fxLayoutAlign="space evenly center" fxLayoutGap="340px">
  <div class="paragraph">
    <p class="paragraph-title">
      Become our Member &
    </p>
    <p class="paragraph-title">
      Earn Discount on Every Purchase!
    </p>
    <p class="paragraph-text">
      capabilities to deliver app-like zero-step zero-step zero-step <br>
      experiences. High performance, offline,zero-step  the swiski<br>
      and zero-step installationze Use modern web platform capabilitie <br>
      experiences. High performance, offline, usage of modern equipment<br>
      and zero-step installation swiss ki.</p>
  </div>
  <div class="paragraph">
    <p class="paragraph-text">
      Stay Upto date through out the year:
    </p>
    <div class="paragraph-text" fxLayout="row" fxLayoutAlign="start center " fxLayoutGap="20px">
      <mat-icon>play_arrow</mat-icon>
      Current Information clearly summarized
    </div>
    <div  class="paragraph-text"  fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <mat-icon>play_arrow</mat-icon>
      Background story updated daily
    </div>
    <div  class="paragraph-text"  fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <mat-icon>play_arrow</mat-icon>
      Everything important can be seen in website
    </div>
    <div  class="paragraph-text"  class="paragraph__btn">
      <button mat-raised-button class="product">Become A Member</button>
    </div>
  </div>
</div>
<div class="card-B container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="50px">
  <div class="card-B__box">
    <img src="../assets/image/m.png" height="300px" width="300px" class="card-B_Img">
  </div>
  <div>
    <h1 class="card-B__text">YOUR GIFT</h1>
    <div class="card-B__text">As a swiss kiss member you will receive the t-shirts as a member to welcome you all in the
      company
    </div>
    <div class="card-B__text">As a swiss kiss member you will receive the t-shirts as a member to engage</div>
    <button mat-raised-button class="product">Offers For The Members</button>
  </div>
</div>

