<div class="content my-32 ">
  <div class="content__box" fxLayout="row" fxLayoutAlign="space evenly center" fxLayoutGap="340px">
    <div class="content__paragraph">
      <p class="content__title">
        Become our Member &
      </p>
      <p class="content__title my-28">
        Earn Discount on Every Purchase!
      </p>
      <p class="content__text px-32 py-32 ml-8">
        capabilities to deliver app-like zero-step zero-step zero-step <br>
        experiences. High performance, offline,zero-step the swiski<br>
        and zero-step installationze Use modern web platform capabilitie <br>
        experiences. High performance, offline, usage of modern equipment<br>
        and zero-step installation swiss ki.</p>
    </div>
    <div class="content__paragraph ">
      <p class="content__text px-24  ml-24">
        Stay Upto date through out the year:
      </p>
      <div class="content__text px-28 py-28 ml-32" fxLayout="row" fxLayoutAlign="start center " fxLayoutGap="20px">
        <mat-icon>play_arrow</mat-icon>
        Current Information clearly summarized
      </div>
      <div class="content__text px-28 py-28 ml-32" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <mat-icon>play_arrow</mat-icon>
        Background story updated daily
      </div>
      <div class="content__text px-28 py-28 ml-32" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <mat-icon>play_arrow</mat-icon>
        Everything important can be seen in website
      </div>
      <div class="content__btn">
        <button mat-raised-button class="content__product b-12 px-12 py-16 my-12 ml-44">Become A Member</button>
      </div>
    </div>
  </div>
  <div class="content__gift" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="50px">
    <div class="ml-32">
      <img src="../assets/image/m.png" height="300px" width="300px" class="content__img">
    </div>
    <div>
      <h1 class="content__header">YOUR GIFT</h1>
      <div class="content__text px-28 py-28 ml-32">As a swiss kiss member you will receive the t-shirts as a member to
        welcome you all in the
        company
      </div>
      <div class="content__text px-28 py-28 ml-32">As a swiss kiss member you will receive the t-shirts as a member to
        engage
      </div>
      <button mat-raised-button class="content__product px-32 py-16 b-12 ml-44">Offers For Members</button>
    </div>
  </div>


</div>



