<app-navigation></app-navigation>

<div class="container" fxLayout="column" fxLayoutAlign="space-between center">
<div class="text">
  <span class="title">Ski-Swiss T-shirts</span>
  <p>CSS is the language we use to style an HTML document.CSS describes how HTML elements should be displayed.<br>
  </p>
</div>
<div class="main_card container" fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="10px">
  <div class="card">
    <img src="../assets/image/m1.jpg">
    <div class="example-card__action">
      <button mat-raised-button class="product"> View Product</button>
    </div>
  </div>
  <div class="card">
    <img src="../assets/image/m3.jpg">
    <div class="example-card__action">
      <span class="title">Ski-Swiss T-shirts</span>
      <p class="description">Lorem ipsum dolor sit amet
      </p>
    </div>
  </div>
  <div class="card">

<div class="card_A" fxLayout="row" fxLayoutAlign="space evenly center" fxLayoutGap="150px">
  <div class="paragraph">
    <p class="paragraph__text">
      Become our Member &
    </p>
    <p class="paragraph__text">
      Earn Discount on Every Purchase
    </p>
    <p>Use modern web platform capabilities to deliver app-like<br>
      experiences. High performance, offline,<br>
      and zero-step installation.
      Use modern web platform capabilities to deliver app-like<br>
      experiences. High performance, offline,<br>
      and zero-step installation.</p>
  </div>
  <div class="paragraph">
    <p class="paragraph__text">
      Stay Upto date through out the year:
    </p>
    <div fxLayout="row" fxLayoutAlign="start center " fxLayoutGap="15px">
      <mat-icon>play_arrow</mat-icon>
      Current Information clearly summarized
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
      <mat-icon>play_arrow</mat-icon>
      Background story updated daily
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
      <mat-icon>play_arrow</mat-icon>
      Everything important can be seen in website
    </div>
    <div class="paragraph__btn">
      <button mat-raised-button class="product">Become A Member</button>
    </div>
  </div>
</div>
<div class="card-B container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="50px">
  <div class="card-B__box">
    <img src="../assets/image/m.png" height="300px" width="300px" class="card-B_Img">
  </div>
  <div>
    <h1 class="card-B__text">YOUR GIFT</h1>
    <div class="card-B__text">As a swiss kiss member you will receive the t-shirts as a member to welcome you all in the
      company
    </div>
    <div class="card-B__text">As a swiss kiss member you will receive the t-shirts as a member to engage</div>
    <button mat-raised-button class="product">Offers For The Members</button>
  </div>
</div>
<div class="text">
  <span class="title">Ski-Swiss T-shirts</span>
  <p>CSS is the language we use to style an HTML document.CSS describes how HTML elements should be displayed.<br>
  </p>
</div>
<div class="main-gallery container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start center"
     fxLayoutGap="10px">
  <mat-card class="gallery-card ">
    <img src="../assets/image/m1.jpg">
    <div>
      <button mat-raised-button class="product">View Product</button>
    </div>
  </mat-card>
  <mat-card class="gallery-card ">
    <img src="../assets/image/m2.jpg">
    <div>
      <span class="title">Ski-Swiss T-shirts</span>
      <p>Lorem ipsum dolor sit amet</p>
    </div>
  </mat-card>
  <mat-card class="gallery-card ">
    <img src="../assets/image/m3.jpg">
    <div>
      <span class="title">Ski-Swiss T-shirts</span>
      <p>Lorem ipsum dolor sit amet
      </p>
    </div>
  </mat-card>
  <mat-card class="gallery-card">
    <img src="../assets/image/m4.jpg">
    <div>
      <span class="title">Ski-Swiss T-shirts</span>
      <p>Lorem ipsum dolor sit amet
      </p>
    </div>
  </mat-card>
  <mat-card class="gallery-card ">
    <img src="../assets/image/m1.jpg">
    <div>
      <span class="title">Ski-Swiss T-shirts</span>
      <p>Lorem ipsum dolor sit amet
      </p>
    </div>
  </mat-card>
  <mat-card class="gallery-card ">
    <img src="../assets/image/m3.jpg">
    <div>
      <span class="title">Ski-Swiss T-shirts</span>
      <p>Lorem ipsum dolor sit amet
      </p>
    </div>
  </mat-card>
  <mat-card class="gallery-card ">
    <img src="../assets/image/m2.jpg">
    <div>
      <span class="title">Ski-Swiss T-shirts</span>
      <p>Lorem ipsum dolor sit amet
      </p>
    </div>
  </mat-card>
  <mat-card class="gallery-card ">
    <img src="../assets/image/m4.jpg">
    <div>
      <span class="title">Ski-Swiss T-shirts</span>
      <p>Lorem ipsum dolor sit amet
      </p>
    </div>
  </mat-card>
</div>

<div class="contact-box container" fxLayout="row" fxLayoutAlign="center center" fxlayoutGap="5px">

  <div class="contact-form container" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="150px">
    <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="30px">
      <div>
        <h2 class="contact-form__title">Contact Us</h2>
      </div>
      <div>
        <h1 class="contact-form__title"> Talk With US</h1>
      </div>
      <div>
        <p class="contact-form__description">welcome to reboust features of the swikss ski and its branding new<br>
          collection of the clothes.welcome to reboust features of<br>
          the swikss ski and its branding new collection of the clothes</p>
      </div>
      <div>
        <h2 class="contact-form__title">Contact Info:</h2>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <mat-icon class="contact-form__icon">room</mat-icon>
        <p class="contact-form__data">ft-street 0089</p>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <mat-icon class="contact-form__icon">phone</mat-icon>
        <p class="contact-form__data">+456 0093847543</p>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <mat-icon class="contact-form__icon"> mail_outline</mat-icon>
        <p class="contact-form__data">Swissski@yahoo.com</p>
      </div>
    </div>
    <div class="form" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">

      <div class="form-field">
        <div class="form-field__text">
          <p>Your name</p>
          <form class="example-form">
            <mat-form-field fxFlex="100" class="" appearance="outline">
              <input type="text" matInput placeholder="Input your name here">
            </mat-form-field>
          </form>
        </div>
        <div class="form-field__text">
          <p>Email Address</p>
          <form class="example-form">
            <mat-form-field fxFlex="100" appearance="outline">
              <input type="email" matInput placeholder="Input your email here">
            </mat-form-field>
          </form>
        </div>

        <div>
          <p>Message</p>
          <form>
            <mat-form-field fxFlex="100" appearance="outline">
              <textarea matInput placeholder="Write your message here" rows="5"></textarea>
            </mat-form-field>
          </form>
        </div>
        <div>
          <button mat-raised-button class="form-field__btn">Send Messages</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main-footer container" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="95px">
  <div class="footer__a">
    <div>
      <img class="footer__a--img" src="../assets/image/logo.svg">
      <mat-divider class="footer__a--line"></mat-divider>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="300px">
    <div class="footer__paragraph">
      <p>The Swiss Ski to intiate the mass <br>
        campaign for all its upcoming products<br>
        The Swiss Ski to intiate the mass</p>
      <p>
        <button mat-raised-button>demo button</button>
      </p>
    </div>
    <div class="footer__paragraph">
      <h2 class="footer__title">Shop</h2>
      <p>kid</p>
      <p>women</p>
      <p>Men</p>
      <p>Ski</p>
    </div>
    <div class="footer__paragraph">
      <h2 class="footer__title">About</h2>
      <p>kid</p>
      <p>women</p>
      <p>Men</p>
      <p>Ski</p>
    </div>
    <div class="footer__paragraph">
      <h2 class="footer__title">Help</h2>
      <p>kid</p>
      <p>women</p>
      <p>Men</p>
      <p>Ski</p>
    </div>
  </div>
  <div class="social-link" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="840px">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="40px">
      <p class="social-link__terms">Terms And Conditions</p>
      <p class="social-link__terms">Privacy Policy</p>
    </div>
    <div class="instagram" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="35px">
      <p class="social-link__icon">
        <mat-icon>facebook</mat-icon>
      </p>
      <p class="social-link__icon">
        <mat-icon> chat</mat-icon>
      </p>
      <p class="social-link__icon">
        <mat-icon> sentiment_satisfied_alt</mat-icon>
      </p>
      <p class="social-link__icon">
        <mat-icon>drafts</mat-icon>
      </p>
    </div>
  </div>
</div>
</div>
