<div class="card-box container">
  <div fxLayout="row" fxLayoutAlign=" center center" fxLayoutGap="760px">
    <div class="text">
      <span class="text-title">Ski-Swiss T-shirts</span>
      <p>CSS is the language we use to style an HTML document.CSS describes how HTML elements.
      </p>
    </div>
    <div class="text" fxLayout="row" fxLayoutAlign=" center center" fxLayoutGap="5px">
      <p class="text-product">All Products</p>
      <p>
        <mat-icon class="text-product__icon">keyboard_arrow_right</mat-icon>
      </p>
    </div>
  </div>
  <div class="main_card " fxLayout="row" fxLayoutAlign=" center center" fxLayoutGap="10px">
    <div class="card">
      <img src="../assets/image/m1.jpg">
      <div class="action-card">
        <button mat-raised-button class="product"> View Product</button>
      </div>
    </div>
    <div class="card">
      <img src="../assets/image/m3.jpg">
      <div class="action-card">
        <span class="action-card__title">Ski-Swiss T-shirts</span>
        <p class="action-card__description">Lorem ipsum dolor sit amet
        </p>
      </div>
    </div>
    <div class="card">
      <img src="../assets/image/m2.jpg">
      <div class="action-card">
        <span class="action-card__title">Ski-Swiss T-shirts</span>
        <p class="action-card__description">Lorem ipsum dolor sit amet
        </p>
      </div>
    </div>
    <div class="card">
      <img src="../assets/image/m4.jpg">
      <div class="action-card">
        <span class="action-card__title">Ski-Swiss T-shirts</span>
        <p class="action-card__description">Lorem ipsum dolor sit amet
        </p>
      </div>
    </div>
    <div class="card">
      <img src="../assets/image/m1.jpg">
      <div class="action-card">
        <span class="action-card__title">Ski-Swiss T-shirts</span>
        <p class="action-card__description">Lorem ipsum dolor sit amet
        </p>
      </div>
    </div>
  </div>
</div>
