
<div class="card-box container">
  <div class="text">
    <span class="title">Ski-Swiss T-shirts</span>
    <p>CSS is the language we use to style an HTML document.<br>
      CSS describes how HTML elements should be displayed.<br>
    </p>
  </div>
  <div class="main_card "fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="10px">
    <div class="card">
      <img src="../assets/image/m1.jpg">
      <div class="example-card__action">
        <button mat-raised-button class="product"> View Product</button>
      </div>
    </div>
    <div class="card">
      <img src="../assets/image/m3.jpg">
      <div class="example-card__action">
        <span class="title">Ski-Swiss T-shirts</span>
        <p class="description">Lorem ipsum dolor sit amet
        </p>
      </div>
    </div>
    <div class="card">
      <img src="../assets/image/m2.jpg">
      <div class="example-card__action">
        <span class="title">Ski-Swiss T-shirts</span>
        <p class="description">Lorem ipsum dolor sit amet
        </p>
      </div>
    </div>
    <div class="card">
      <img src="../assets/image/m4.jpg">
      <div class="example-card__action">
        <span class="title">Ski-Swiss T-shirts</span>
        <p class="description">Lorem ipsum dolor sit amet
        </p>
      </div>
    </div>
    <div class="card">
      <img src="../assets/image/m1.jpg">
      <div class="example-card__action">
        <span class="title">Ski-Swiss T-shirts</span>
        <p class="description">Lorem ipsum dolor sit amet
        </p>
      </div>
    </div>
  </div>
</div>
